@using System.Security.Claims;
@using Dreamscape.Application.Collections
@using WallpaperPortal.Helpers;

@model Dreamscape.UI.ViewModels.UserProfileViewModel<CollectionViewModel>;
@{
    ViewData["Title"] = Model.User.Username;
}

<div class="profile container flex-row">

    <div class="sidebar profile__info-sidebar">

        @await Html.PartialAsync("_UserCard", Model.User)

    </div>

    <div class="container">

        <div class="navigation">

            <div class="navigation__element">
                <a asp-controller="User" asp-action="Uploads" asp-route-userId="@Model.User.Id">
                    Uploads
                </a>
            </div>

            <div class="navigation__element navigation__selected">
                Collections
            </div>

            @if (@Model.User.Id.ToString() == @User.FindFirstValue(ClaimTypes.NameIdentifier) || @User.IsInRole("Admin"))
            {
                <div class="navigation__element">
                    <a asp-controller="User" asp-action="SettingsProfile">
                        Settings
                    </a>
                </div>
            }


        </div>

        @if (Model.Items.TotalCount == 0)
        {
            <div class="profile__objects-not-found">
                User has not any collections yet
            </div>
        }
        else
        {
            @await Html.PartialAsync("_CollectionGallery", Model.Items.Items)

            <div class="pagination-container">
                @Html.PaginationLinks(@Model.Items)
            </div>
        }
    </div>
</div>
