@using System.Security.Claims;
@using WallpaperPortal.Helpers
@model Dreamscape.UI.ViewModels.UserProfileViewModel;
@{
    ViewData["Title"] = Model.User.Username;
}

<head>
    <link href="~/css/Profile.css" rel="stylesheet" />
</head>

<div class="profile container flex-row">

    <div class="sidebar flex-column">

        @await Html.PartialAsync("_UserCard", Model.User)

        @if (@Model.User.Id.ToString() == @User.FindFirstValue(ClaimTypes.NameIdentifier) || @User.IsInRole("Admin"))
        {
            <form method="get" class="px-10 pb-5" asp-action="ChangeProfileImage" asp-controller="Users" enctype="multipart/form-data">
                <button class="animated-btn" type="submit">
                    <div class="flex-row justify-content-space-between align-items-center">
                        <span>Edit</span>
                        <span class="material-symbols-outlined">settings</span>
                    </div>
                </button>
            </form>
        }

    </div>

    <div class="container">

        <div class="tabs">

            <ul class="tabs__caption">
                <li class="active">Collections</li>
                <li>Uploads</li>
            </ul>

            <div class="tabs__content active">
                @if (Model.RecentCollections.TotalCount > 0)
                {
                    <div class="collection__list">
                        @foreach (var collection in Model.RecentCollections.Items)
                        {
                            <a asp-controller="File" asp-action="Files" asp-route-collectionId="@collection.Id">
                                <div class="collection">
                                    <img src="@(collection.Files.FirstOrDefault()?.DisplaySizePath ?? "/Assets/Images/black-rectangle.png")" alt="Collection Image" class="collection__image">
                                    <div class="collection__info">
                                        <div class="collection__description">@collection.Name</div>
                                        <div class="collection__owner">@collection.Owner.Username</div>
                                    </div>
                                </div>
                            </a>
                        }
                    </div>
                }
                else
                {
                    <p>
                        User does not have any public collections yet
                    </p>
                }
            </div>

            <div class="tabs__content">

                @if (Model.RecentUploads.TotalCount == 0)
                {
                    <p>
                        User has not uploaded any files yet
                    </p>
                }
                else
                {
                    @await Html.PartialAsync("_FileGallery", Model.RecentUploads.Items)

                    @if (Model.RecentUploads.TotalPages > 1)
                    {
                        <form method="get" class="px-10 pb-5" action="/" enctype="multipart/form-data">
                            <input type="hidden" name="UploaderId" value="@Model.User.Id.ToString()" />
                            <button class="animated-btn" type="submit">
                                <div class="flex-row justify-content-center align-items-center">
                                    <span>See all</span>
                                    <span class="material-symbols-outlined">expand_more</span>
                                </div>
                            </button>
                        </form>
                    }
                }
            </div>
        </div>
    </div>

    @section Scripts {
        <script>
            (function ($) {
                $(function () {
                    $("ul.tabs__caption").on("click", "li:not(.active)", function () {
                        $(this)
                            .addClass("active")
                            .siblings()
                            .removeClass("active")
                            .closest("div.tabs")
                            .find("div.tabs__content")
                            .removeClass("active")
                            .eq($(this).index())
                            .addClass("active");
                    });
                });
            })(jQuery);
        </script>
    }
</div>
