@using System.Security.Claims;
@using Dreamscape.Application.Files
@using Dreamscape.UI.ViewModels;
@using WallpaperPortal.Helpers;

@model Dreamscape.UI.ViewModels.UserProfileViewModel<ImageFileViewModel>;
@{
    ViewData["Title"] = Model.User.Username;
}

<div class="profile container flex-row">

    <div class="sidebar flex-column">

        @await Html.PartialAsync("_UserCard", Model.User)

        @if (@Model.User.Id.ToString() == @User.FindFirstValue(ClaimTypes.NameIdentifier) || @User.IsInRole("Admin"))
        {
            <form method="get" class="px-10 pb-5" asp-action="ChangeProfileImage" asp-controller="Users" enctype="multipart/form-data">
                <button class="animated-btn" type="submit">
                    <div class="flex-row justify-content-space-between align-items-center">
                        <span>Edit</span>
                        <span class="material-symbols-outlined">settings</span>
                    </div>
                </button>
            </form>
        }

    </div>

    <div class="container">

        <div class="navigation">

            <div class="navigation__element navigation__selected">
                Uploads
            </div>

            <div class="navigation__element">
                <a asp-controller="User" asp-action="Collections" asp-route-userId="@User.FindFirstValue(ClaimTypes.NameIdentifier)">
                    Collections
                </a>
            </div>

        </div>

        @if (Model.Items.TotalCount == 0)
        {
            <p>
                User has not uploaded any files yet
            </p>
        }
        else
        {
            @await Html.PartialAsync("_FileGallery", Model.Items.Items)

            <div class="pagination-container">
                @Html.PaginationLinks(@Model.Items)
            </div>
        }
    </div>
</div>
